#root {

  margin: 0;
  padding: 0;
  text-decoration: none; 
  font-family: 'Roboto', sans-serif;
}


/* Nav */



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 20px; 
  background-color: brown;
  height: 80px;

}

.nav-links {
  display: flex;
  gap: 10px;
  text-decoration: none; 
  color: white;
  font-size: 28px;
}

.NavBarH2 {
  margin-left: auto;
  color: white;
}
.nav-links a {
  text-decoration: none;
  color : white;
}



/* Home */
.containerHome{
  text-align: center;
  margin-top: 100px;

}

.img{
  height: 400px;
  width: 400px;
}

.containerHome > h1{
  font-size: 50px;
}

.containerHome > p{
  font-size: 20px;
}


/* Contacto */

.tituloContacto{
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
}

.detalleContacto{
  text-align: center;

}

.inputCorreo{
 width: 1500px;
 height: 40px;
 border-radius: 5px;
 font-size: 20px;
}

.inputDescripcion{
  width: 1500px;
  height: 200px;
  border-radius: 5px;
}